body {
  background-color: steelblue;
  width: 100%;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  padding: 0;
  overflow: auto;
}

ul::-webkit-scrollbar,
ul::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-track {
  display: none;
}

input {
  border: none;
  padding: 20px 30px;
  font-size: 20px;
  border-bottom: 2px solid white;
  background-color: whitesmoke;
  width: 400px;
  border-radius: 40px;
  outline-style: none;
  position: relative;
}
input::placeholder {
  color: slategrey;
}

.inputToDo {
  position: relative;
  top: -100px;
}

.background-opa {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: slategrey;
  opacity: 0.4;
  z-index: -1;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.js-clock {
  color: whitesmoke;
  font-size: 70px;
}
.form,
.greetings {
  display: none;
}

.noshowing {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: fadeIn 1s linear;
}

.js-greetings {
  color: whitesmoke;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  top: -100px;
}

.js-toDoList {
  position: relative;
  top: -80px;
}

li {
  display: block;
  width: 250px;
  height: 33px;
  text-align: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  color: whitesmoke;
  margin: 5px 0;
}
button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.js-weather {
  position: absolute;
  top: 10px;
  left: 10px;
  color: ivory;
}
